<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="DANA Pulsa Suite">

<parameter name="statusCode" value="200"></parameter>
<parameter name="statusCodePost" value="201"></parameter>
<parameter name="statusCodeFail" value="404"></parameter>
<parameter name="statusCodeForbidden" value="409"></parameter>

<parameter name="responseTime" value="10000"></parameter>

<listeners>
	<listener class-name="utilities.Listeners"></listener>	
</listeners>
	<!-- <test name="DanaPulsaAPITestRegister" group-by-instances="true">
		<classes>
			<class name = "testCases.register.Factory_Register"></class>
		</classes>
	</test> -->
	<!-- <test name="DanaPulsaAPITestLogin" group-by-instances="true">
		<classes>
			<class name = "testCases.login.Factory_Login"></class>
			<class name = "testCases.login.TC_Logout"></class>
		</classes>
	</test> -->
	<!-- <test name="DanaPulsaAPITestPIN" group-by-instances="true">
		<classes>
			<class name = "testCases.pin.Factory_Verify_Pin_Login"></class>
			<class name = "testCases.pin.Factory_Change_Pin"></class>
		</classes>
	</test> -->
	<!-- <test name="DanaPulsaAPITestUser" group-by-instances="true">
		<classes>
			<class name = "testCases.user.TC_Profile"></class>
			<class name = "testCases.user.TC_Balance"></class>
		</classes>
	</test> -->
	<!-- <test name="DanaPulsaAPITestOTP" group-by-instances="true">
		<classes>
			<class name = "testCases.otp.Factory_Forgot_Pin_Otp"></class>
			<class name = "testCases.otp.Factory_Get_Otp"></class>
			<class name = "testCases.otp.TC_Change_Pin_Otp"></class>
			<class name = "testCases.otp.Factory_Verify_Otp"></class> 
		</classes>
	</test> -->
	<!-- <test name="DanaPulsaAPITestHistory" group-by-instances="true">
		<classes>
			<class name = "testCases.history.Factory_History_In_Progress"></class>
			<class name = "testCases.history.Factory_History_Completed"></class>
			<class name = "testCases.history.Factory_History_Details"></class>
		</classes>
	</test> -->
	<!-- <test name="DanaPulsaServiceTestMember" group-by-instances="true">
		<classes>
			<class name = "remoteService.member.Factory_Service_Register"></class>
			<class name = "remoteService.member.Factory_Service_Login"></class>
			<class name = "remoteService.member.Factory_Service_Verify_Pin_Login"></class>
			<class name = "remoteService.member.Factory_Service_Change_Pin"></class>
			<class name = "remoteService.member.Factory_Service_Profile"></class>
			<class name = "remoteService.member.Factory_Service_Balance"></class>
			<class name = "remoteService.member.Factory_Service_Increase_Balance"></class>
			<class name = "remoteService.member.Factory_Service_Decrease_Balance"></class>
			<class name = "remoteService.member.Factory_Service_Get_Otp"></class>
			<class name = "remoteService.member.Factory_Service_Send_Otp"></class>
			<class name = "remoteService.member.Factory_Service_Verify_Otp"></class>
		</classes>
	</test> -->
	<!-- <test name="DanaPulsaIntegrationTestMember" group-by-instances="true">
		<classes>
			<class name = "integrationtest.member.TC_IntegrationTest_001"></class>
			<class name = "integrationtest.member.TC_IntegrationTest_002"></class>
		</classes>
	</test> -->
</suite>