<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="DANA PUlsa Suite">

<parameter name="statusCode" value="200"></parameter>
<parameter name="statusCodePost" value="201"></parameter>
<parameter name="statusCodeFail" value="404"></parameter>
<parameter name="statusCodeForbidden" value="409"></parameter>

<parameter name="responseTime" value="10000"></parameter>

<parameter name="statusLine" value="HTTP/1.1 200 "></parameter>
<parameter name="statusLinePost" value="HTTP/1.1 201 "></parameter>

<listeners>
	<listener class-name="utilities.Listeners"></listener>	
</listeners>
	<!-- <test name="SigmaCardAPITestRegister" group-by-instances="true">
		<classes>
			<class name = "testCases.Register.Factory_User"></class>
			<class name = "testCases.Register.TC_002_Verification_OTP"></class>
			<class name = "testCases.Register.Factory_Login"></class>
			<class name = "testCases.Register.TC_004_Update_Password"></class>
			<class name = "testCases.Register.TC_005_Profile"></class>
		</classes>
	</test> -->
</suite>